# Core functionality - changes here should be rare!
/src/app.py                   @blahhole
/src/backend/database.py      @blahhole
/src/backend/routers/auth.py  @blahhole

# The frontend will need refactored soon to be more object oriented.
/src/static/   @blahhole
